body {
    background-image: linear-gradient(#048BC2, #1f617c, #0c3e52);
    font-family: "Mukta";
    color: white;
    margin: 0;
}

img {
    width: 200px;
    margin: auto;
    border-radius: 70%;
}

#title {
    font-size: 40px;
    text-align: center;
    width: 372px;
    margin-left: 5px;
    border: 3px double black;
    background-color: #25b0bc;
    border-radius: 10px;
}

#title:hover {
    background-color: rgb(66, 81, 236);
    border-radius: 20px;
    transition: 0.8s ease-in-out;
}

#subtitle {
    font-size: 20px;
    text-align: center;
    background-color: #25b0bc;
    border-radius: 20px;
    width: 372px;
    margin-left: 5px;
}

#subtitle:hover {
    background-color: rgb(66, 81, 236);
    transition: 0.8s ease;
}

h2 {
    text-align: center;
}

.container {
    border: 3px solid black;
    width: 420px;
    margin-left: 1%;
    margin-top: 1%;
    background-color: #212834;
    border-radius: 0.3rem;
    cursor: pointer;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0.3, 0.3, 0.3, 0.3);
}

.container:hover {
    box-shadow: 0.8rem 0.8rem 0.8rem rgba(173, 156, 156, 0.3);
}

article div {
    text-align: justify;
    padding: 12px;
}

#head {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.goals {
    width: 400px;
    display: flex;
    margin-left: 1%;
}

.contact {
    text-align: center;
    margin-bottom: 16px;
}

.experience {
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    margin-top: -141.6%;
    border: 3px solid black;
    width: 66%;
    margin-bottom: 16px;
    background-color: #212834;
    border-radius: 0.3rem;
    cursor: pointer;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0.3, 0.3, 0.3, 0.3);
    padding: 12px;
}

.experience:hover {
    box-shadow: 0.8rem 0.8rem 0.8rem rgba(173, 156, 156, 0.3);
}

.education,
.idioms,
.certificates {
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    text-align: justify;
    border: 3px solid black;
    width: 66%;
    margin-bottom: 16px;
    background-color: #212834;
    border-radius: 0.3rem;
    cursor: pointer;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0.3, 0.3, 0.3, 0.3);
    padding: 12px;
}

.education:hover,
.idioms:hover,
.certificates:hover {
    box-shadow: 0.8rem 0.8rem 0.8rem rgba(173, 156, 156, 0.3);
}

footer {
    background-color: #212834;
    display: flex;
    flex-direction: row;
}

.text {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

footer a {
    text-decoration: none;
    color: white;
    padding: 20px;
    border-radius: 20px;
    padding: 20px;
    margin-left: 170px;
}

footer a:hover {
    background-color: rgb(87, 76, 76);
    transition: ease 1.5s;
}

@media only screen and (max-width: 500px) {
    body {
        transition: 1.5s ease;
        background-image: linear-gradient(#6f787c, #2c383c, #0c0e0f);
    }
    .container {
        margin: 16px auto;
    }
    .experience,
    .education,
    .idioms,
    .certificates,
    footer {
        flex-direction: column;
        margin-top: 8%;
        margin-left: 1%;
        width: 395px;
        text-align: justify;
        margin: 16px auto;
    }
    img:hover {
        margin-top: 12%;
        transform: scale(1.5);
        transition: 0.5s ease;
    }
    #title {
        margin-top: 12%;
    }
    footer {
        width: auto;
        margin: 0%;
    }
    footer a {
        margin-left: 1%;
    }
}